html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    text-align: center;
    color: rgb(129, 108, 231);
}

p {
    padding: 0;
    margin: 0;
}

input {
    display: flex;
    margin: 0 auto;
}

.wrapper-input {
    display: flex;
    justify-content: center;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.main-wrapper {
    max-width: 960px;
    margin: 0 auto;
}

ul,
li {
    margin: 0;
    padding: 0;
}

.photos-wrapper {
    margin-top: 20px;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 1fr 1fr;
    grid-gap: 50px;
}

.one-photo-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px auto;
    max-height: 80vh;
    max-width: 80vh;
}

.two-photo-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}


.progress-bar {
    height: 5px;
    background-color: darkslateblue;
}

.image-wrapper {
    overflow: hidden;
    height: 0;
    padding: 50% 0;
    position: relative;
    opacity: 0.8;
}

.image-wrapper img {
    /* У некоторых фото изменяются размеры при перезагрузки страницы
    min-width: 100%;*/
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.selectedPhoto-wrapper img {
    display: block;
    max-width: 50%;
    max-height: 50%;
    margin: 7% auto;
    box-shadow: 3px 3px 3px rgba(231, 217, 232, 1);
    border: solid 2px rgb(243, 238, 243);
}

.selectedPhoto-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.delete-picture {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.close {
    width: 55px;
    height: 55px;

    border: 4px solid #e62f57;
    border-radius: 50%;
}

/*  THIS IS AUTHORISATION STYLES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/

.auth-wrapper {
    width: 100%;
    margin: 0 auto;
}

.auth-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-image: url(Components/assets/images/authBackground.jpg);
}

.auth-content {
    width:100%;
    max-width: 750px;
    background: #fff;
    border-radius: 18px;
    position: relative;

    padding-top: 25px;
    padding-bottom: 25px;
    padding-right:clamp(50px, 8%, 100px);
    padding-left: clamp(50px, 8%, 100px);

}

.auth-form-container {
    width: 100%;
}

.auth-form-title {
    display: block;
    font-family: Montserrat-Medium;
    font-size: 49px;
    color: #555555;
    line-height: 1.2;
    text-align: center;
}

.auth-input-label {
    margin-top: 10px;
    font-family: Montserrat-SemiBold;
    color: #555555;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
}

.auth-input {
    width: 100%;
    height: 32px;
    padding: 0 7px;
    background-color: #e6f1fa;
    border: 1px solid gainsboro;
    border-radius: 7px;
    outline: none;
    font-size: 15px;
}

.auth-submit-container {
    margin-top: 30px;
    height: 45px;
    width: 100%;
    display: flex;
}

.auth-submit-button {
    width: 100%;

    box-shadow: 0px 4px 8px 0px rgba(43, 125, 226, 0.44);
    background-color: #e6f1fa;
    color: #555555;
    border: 1px solid rgba(43, 125, 226, 0.1);
    border-radius: 7px;

    font-family: Poppins-Regular;
    font-size: 28px;
    cursor: pointer;
}

.auth-signUp {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #999999;
    line-height: 1.5;
}

.auth-text-link {
    cursor: pointer;
    border-bottom: 1px solid #999999;
}

.login-button-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.login-button {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 47%;
    min-height: 45px;
    border-radius: 7px;
    font-family: Poppins-Regular;
    font-size: 25px;
    line-height: 1.5;
}

.auth-github {
    box-shadow: 0px 4px 8px 0px rgba(43, 125, 226, 0.44);
    background-color: #e6f1fa;
    color: #555555;
}

.auth-google {
    box-shadow: 0px 4px 8px 0px rgba(43, 125, 226, 0.44);
    background-color: #e6f1fa;
    color: #555555;
}

.GitHubSVG {
    margin-right: 2px;
    min-width: 26px;
    transition-duration: 0.4s;
    display: flex;
    justify-content: center;
}

.auth-github:hover .GitHubSVG {
  filter: drop-shadow( 0px 0px 1px rgba(31, 69, 112, 1));
}

.input-focused {
    box-shadow: 0px 0px 8px 0px rgba(43, 125, 226, 0.44);
    transition-duration: 0.5s;
}
.input-error {
    box-shadow: 0px 0px 8px 0px rgba(229, 42, 102, 0.44);
    transition-duration: 0.5s;
}

.error-text-wrapper,
.form-error-wrapper{
    position: relative;
}
.form-error {
    position: absolute;
    top: 2px;
    width: 100%;
    font-family: Poppins-Regular;
    color: rgba(231, 32, 95, 0.56);
    font-size: 14px;
}

.error-text-message {
    position: absolute;
    top: 2px;
    right: 2px;
    font-family: Poppins-Regular;
    color: rgba(231, 32, 95, 0.56);
    font-size: 14px;
}